

.no-idea {
  background: url("../../dist/images/bckjoin.jpg");
  background-color: white;
  min-height: 300px;
  color: $gray-light;

  blockquote {
    margin:0;
    &:before {
      color: $gray-light;
    }
  }

  .col-sm {
    padding:2rem;

    &:first-of-type {
      border-right:1px solid $gray-light;
    }

    &:last-of-type {
      min-height: 200px;
    }
  }
}

.companies {
  background-color: $gray-lighter;
}