

.no-idea {
  //background: url("../../dist/images/bckjoin_light.jpg");
  background-color: $brand-blue;
  min-height: 300px;
  color: white;

  blockquote {
    margin:0;
    &:before {
      color: $gray-light;
    }
  }

  .col-md-6 {
    padding:2rem;

    &:first-of-type {
      @include media-breakpoint-up(md) {
        border-right:1px solid #fff;
      }
    }

    &:last-of-type {
      min-height: 200px;
    }
  }
}

//.row.buttons {
//  margin-left:15px;
//  margin-right: 15px;
//}