// NAVIGATION
.overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 997;
  left: 0;
  top:0;
  width: 100%;
  height:100%;
  //transition: opacity 250ms;
  display: none;

  &.visible {
    opacity: 1;
  }
}

#toggle {
  position: fixed;
  z-index: 999;
  height:30px;
  right:($visible-navbar-width-md-up - $barwidth) / 2;
}

#toggle-close {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.nav-primary {
  position: fixed;
  top: 0;
  width:$navbar-width-xs;

  height: 100%;
  right: 0;
  z-index: 998;
  transform: translateZ(0);
  will-change: transform;
  transition: transform 800ms ease-in;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  perspective: 100px;

  @include media-breakpoint-up(sm) {
    width:$navbar-width-sm;
    right:-($navbar-width-sm);
  }

  @include media-breakpoint-up(md) {
    width:$navbar-width-md-up;
    transform: translate(10px, 0);
  }

  .visible-area {
    background-color: $navbar-color;
    width:$visible-navbar-width-md-up;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    //box-shadow: 0 0 8px rgba(0,0,0,0.75);
    transform: matrix(1,0,0,1,0,0);
    transform-origin: right center;
    backface-visibility: hidden;
    transform-origin: right center;
    transition: transform 500ms;
  }

  .navbar-toggle {
    position: absolute;
    z-index: 999;
    height:30px;
    right:($visible-navbar-width-md-up - $barwidth) / 2;
  }

  
  .nav_background {
    background: url("../../dist/images/nav_background.jpg") #fff;
    width:100%;
    height:100%;
    //opacity:0;
    position: absolute;
    z-index: 1;
    margin-left: 60px;
    background-color: #fff;
  }

  &.open {
    //width:30%;
    transform: translate(-($navbar-width-md-up - $visible-navbar-width-md-up), 0);
    .nav_background {
      //opacity: 0.5;
    }
    .visible-area {
      transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1);
      transition: transform 1000ms;
    }
  }


  #menu-container {
    position: relative;
    z-index: 2;
    margin: 10rem $visible-navbar-width-md-up 10rem ($visible-navbar-width-md-up*2);


    ul {
      padding:0;
      li {
        font-family: "Flama-Basic";
        font-size: 1.5rem;
        text-transform: uppercase;
        //text-align: center;
        padding:0;
        list-style-type: none;
        visibility: hidden;

        a {
          color: #fff;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.submenu {

      }
    }
  }
  
  #menu-footer {
    padding:1rem;
    background: #fff;
    position: relative;
    z-index: 1;
    margin: 0rem $visible-navbar-width-md-up 5rem ($visible-navbar-width-md-up*2);

    a {
      text-align: center;
      margin:0 0.2rem;
      .fa {
        width:40px;
        height:40px;
        line-height: 40px;
        font-size: 1.5rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        transition: all 300ms ease-in-out ;

        &.fa-facebook {background-color: $facebook_color;}
        &.fa-instagram {background-color: $instagram_color;}
        &.fa-linkedin {background-color: $linkedin_color;}
        &.fa-twitter {background-color: $twitter_color;}
      }
      &:hover {
        .fa {
          border-radius: 3px;
        }
      }
    }
  }
}

.banner {
  position: absolute;
  z-index: 996;
  top:15px;
  left:20px;

  .brand {
    overflow: hidden;
    height:$banner-height-xs;

    @include media-breakpoint-up(sm) {
      height:$banner-height-sm;
    }
    @include media-breakpoint-up(md) {
      height:$banner-height-md-up;
    }


    img {
      //height:60px;
      //width: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
}