// NAVIGATION
.overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height:100%;
  //transition: opacity 250ms;
  display: none;

  &.visible {
    opacity: 1;
  }
}

.navbar-toggle {
  position: fixed;
  z-index: 999;
  height:30px;
  right:($navbar-width-lg - $barwidth) / 2;
}
.nav-primary {
  position: fixed;
  top: 0;
  width: 450px;
  margin-right:-(450-$navbar-width-lg);
  height: 100%;
  right: 0;
  z-index: 998;
  background-color: $gray;
  transition: margin-right 250ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .nav_background {
    background: url("../../dist/images/nav_background.jpg");
    width:100%;
    height:100%;
    opacity:0;
    position: absolute;
    z-index: 1;
    transition: opacity 500ms ease-out;
    transition-delay: 200ms;
  }

  &.open {
    //width:30%;
    margin-right:0;
    .nav_background {
      opacity: 0.5;
    }
  }


  #menu-container {
    position: relative;
    z-index: 2;
    margin: 10rem $navbar-width-lg;

    ul {
      padding:0;
      li {
        font-family: "Flama-Basic";
        font-size: 1.5rem;
        text-transform: uppercase;
        //text-align: center;
        padding:0;
        list-style-type: none;
        visibility: hidden;

        a {
          color: #fff;

          &:hover {
            text-decoration: none;
          }
        }
      }

      &.submenu {

      }
    }
  }
  
  #menu-footer {
    padding:1rem;
    background: #fff;
    position: relative;
    z-index: 1;
    margin: 0rem $navbar-width-lg 5rem;

    a {
      text-align: center;
      margin:0 0.2rem;
      .fa {
        width:40px;
        height:40px;
        line-height: 40px;
        font-size: 1.5rem;
        border-radius: 50%;
        background-color: rgba(0,0,0,.6);
        color: #fff;
        transition: all 300ms ease-in-out ;

        &.fa-facebook {background-color: $facebook_color;}
        &.fa-instagram {background-color: $instagram_color;}
        &.fa-linkedin {background-color: $linkedin_color;}
        &.fa-twitter {background-color: $twitter_color;}
      }
      &:hover {
        .fa {
          border-radius: 3px;
        }
      }
    }
  }
}

.banner {
  position: absolute;
  z-index: 999;
  top:15px;
  left:20px;

  .brand {
    overflow: hidden;

    img {
      height:60px;
      width: auto;
    }
  }
}