$menu-color: $brand-primary;
$mobile-menu-color: $brand-blue;
$parent-menu-color: white;
$current-item-color: white;
$hover-menu-color: #f0f0f0;

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //transition: opacity 250ms;
  display: none;

  &.visible {
    opacity: 1;
  }
}

.banner {
  background: white;
  @include gradient-x($start-color: #ff5115, $end-color: #f13953, $start-percent: 0%, $end-percent: 100%);

  //@include gradient-x-three-colors($start-color: #ff5115, $mid-color: #f83501, $color-stop: 40%, $end-color: #ff22d1);
  position: fixed;
  width: 100%;
  z-index: 4;
  transition: background 300ms;
  perspective: 1800px;

  &.scrolled {
    background: white;
  }

  .brand {
    margin: 5px auto;
    height: 60px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    //box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border:none;

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-up(lg) {
      height: 60px;
      padding: 5px;
    }

    .logo {
      max-height: 100%;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
    }

  }
  // DESKTOP
  .nav-primary {
    width: 100%;
    font-family: futura-pt, sans-serif;

    #menu-container {

      #main-menu {
        font-weight: 100;
        float: right;

        .menu-item {
          display: inline-block;
          margin-right:0;
          //position: relative;
          box-shadow: inset 0 0 0 $hover-menu-color;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all 300ms;

          a {
            text-decoration: none;
            border:none;
          }

          &:hover {
            //background: $hover-menu-color;
            box-shadow: inset 0 -75px 0 $hover-menu-color;

            a, span {
              color: $brand-secondary;
            }
          }

          &.current-menu-item {
            box-shadow: inset 0 -8px 0 $current-item-color;
            &:hover {
              //background: $hover-menu-color;
              box-shadow: inset 0 -75px 0 $hover-menu-color;

              a, span {
                color: $brand-secondary;
              }
            }
          }

          &.current-menu-parent {
            box-shadow: inset 0 -5px 0 $parent-menu-color;
            &:hover {
              //background: $hover-menu-color;
              box-shadow: inset 0 -75px 0 $hover-menu-color;

              a, span {
                color: $brand-secondary;
              }
            }
          }

          &.menu-item-has-children {

            > a, > span {

              &:after {
                content: "\f107";
                font-family: FontAwesome;
                margin-left: 5px;
              }
            }

            &:hover {
              .sub-menu-wrap {
                visibility: visible;
                //height:70px;
                transform: rotateX(0deg);
                background: $hover-menu-color;
              }
            }
          }

          a, span {
            display: block;
            line-height: 70px;
            padding: 0 13px;
            color: #fff;
            text-transform: uppercase;

            &:hover {
              text-decoration: none;
            }
          }

          .sub-menu-wrap {
            background: darken($hover-menu-color, 25%);
            width: 100%;
            padding: 0 !important;
            clear: both;
            display: block;
            position: absolute;
            left: 0;
            z-index: 3;
            transition: all 300ms;
            overflow: hidden;

            visibility: hidden;
            transform: rotateX(-89deg);
            transform-origin: top;
            transform-style: preserve-3d;
          }

          >.container {
            padding:0;
          }

          .sub-menu {
            float: right;
            padding:0;
            margin-left:0;
            margin-right:0;
            width:100%;

            .menu-item {
              margin-right: 0;
              box-shadow: none;


              a, span {
                color: #000;
                line-height: 60px;
              }

              &:hover {
                background: rgba(0,0,0,0.2);
                box-shadow: none;
              }

              &.current-menu-item {
                background: $menu-color;
                box-shadow: none;

                a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}


$mobile-menu-width: 280px;
// Mobile

.nav-mobile-wrapper {
  perspective: 1800px;
  position: fixed;
  z-index: 998;
}
.nav-mobile {
  position: absolute;
  height: 100vh;
  width: $mobile-menu-width;
  font-family: futura-pt, sans-serif;
  z-index: 998;
  color: #fff;
  font-size: 18px;
  background: $mobile-menu-color;
  transform: rotateY(-90deg);
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 300ms ease;

  .nav-overlay {
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    transition: all 300ms ease;
    visibility: visible;
  }

  &.open {
    transform: rotateY(0deg);

    .nav-overlay {
      background: rgba(0,0,0,0);
      visibility: hidden;
    }
  }

  > .container {
    height: 100%;

    > .row {
      height: 100%;
    }
  }

  #menu-container {
    padding: 50px 0;

    #main-menu {
      flex-direction: column;
      font-weight: 500;

      .menu-item {
        display: inline-block;
        //position: relative;
        margin-right: 24px;
        transition: background 300ms;
        float: left;

        a {
          text-decoration: none;
          border:none;
        }

        &:focus {

        }

        &.current-menu-item {
          > a, > span {
            box-shadow: inset 5px 0 0 #fff;
          }
        }

        &.menu-item-has-children {
          position: relative;

          > a, > span {
            position: relative;
          }

          .expandArrow {
            position: absolute;
            top:4px;
            right:4px;

            &:after {
              content: "\f107";
              font-family: FontAwesome;
              //margin-left: 5px;
              position: absolute;
              background: #fff;
              color: $mobile-menu-color;
              line-height: 20px;
              width: 20px;
              border-radius: 50%;
              text-align: center;
              //top: 4px;
            }
          }

          &.collapsed {
            .sub-menu-wrap {
              visibility: visible;
              height: auto;
            }
          }
        }

        a, span {
          display: block;
          padding: 0 10px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 100;

          &:hover {
            text-decoration: none;
          }
        }

        .sub-menu-wrap {
          height: 0;
          overflow: hidden;
        }

        .sub-menu {
          padding-left: 20px;

          .menu-item {
            margin-right: 0;

            a, span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .nav-footer {
    position: relative;
    width: 100%;
    color: #333333;
    background: #fff;

    .social-icons {
      margin: 0 0 20px;
      position: relative;
      z-index: 2;

      a {
        text-align: center;
        margin: 0 0.2rem;
        .fa {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 1.5rem;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, .6);
          color: #fff;
          transition: all 300ms ease-in-out;

          &.fa-facebook {
            background-color: $facebook_color;
          }
          &.fa-instagram {
            background-color: $instagram_color;
          }
          &.fa-linkedin {
            background-color: $linkedin_color;
          }
          &.fa-twitter {
            background-color: $twitter_color;
          }
        }
        &:hover {
          .fa {
            border-radius: 3px;
            .sub-menu {
              position: absolute;
              left: 0;
              width: 100%;
              display: flex;
              background: white;
              z-index: 3;
            }
          }

        }
      }
    }
  }
}
