section {
  padding:6rem 1rem;
  position: relative;

  &.overlay-white:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 0;
  }

  &.fixed {
    position: fixed !important;
    width:100%;
  }
  .container {
    position: relative;
    z-index: 1;
  }

  &.no-padding {
    padding: 0;
  }
}

.jumbo {
  background: url("../../dist/images/astronaut.jpg") #fff;
  background-size: cover;
  background-attachment: fixed;
  color: $gray-dark;
  padding-top: 0;
  padding-bottom: 0;
  padding:0;

  .jumbotron {
    min-height: 100vh;
    width:100%;
    background-color: rgba(255,255,255,0);
    //background-image: url('../../dist/images/light_overlay.png');
    margin-bottom: 0;

    padding: 100px;
    @include media-breakpoint-up(md) {
      padding:0;
    }

    > .container {
      min-height:100vh;
      //@include gradient-x-four-colors($start-color: rgba(255,255,255,0), $mid-color1: rgba(255,255,255,0.5), $color-stop1: 15%, $mid-color2: rgba(255,255,255,0.5), $color-stop2: 85%, $end-color: rgba(255,255,255,0));

      > .row {
        min-height: 100vh;
        flex-direction: column;
        padding-bottom: 50px;

        h1 {
          margin-bottom: 2rem;
        }

        .buttons {
          flex-direction: row;
          margin-top: 3rem;
        }
      }
    }

    &.jumbo-small {
      height:350px;
      min-height: 1px;
      padding-top:70px;

      > .container {
        min-height: 100%;
        height:100%;

        > .row {
          min-height: 100%;
          height:100%;
          padding-bottom: 0;
        }
      }
    }
  }

  .btn {
    font-family: $header-font;
    font-size: .8rem;
    padding:1rem;
    width:100%;
    box-shadow: none;
    border-radius: 0;
    box-shadow: inset 0 0 0 0px $brand-primary;
    transition: box-shadow 250ms ease-out;
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
      font-size: 1rem;
      padding:1.8rem;
    }

    &.btn-border {
      box-shadow: inset 0 0 0 5px $brand-primary;
      color: $brand-primary;
      //border:5px solid ;
      background: transparent;
    }
  }
}

section {
  &.video {
    color: #fff;
    position: relative;
    background: $dark-blue;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top:-55px;
    //  left:-20px;
    //  width:120%;
    //  height:120px;
    //  transform: rotate(3deg);
    //  background: $dark-blue;
    //}

    .bg {
      //background-color: #253f52;
      //position: absolute;
      //top:-40px;
      //left:-20px;
      //width:120%;
      //height:120%;
      //transform: rotate(3deg);
    }

    #middle {
      height: 1px;
      width: 1px;
      position: absolute;
      top: 50%;
    }

    #wrapper {
      width: 100%;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.expanded {
        display: none;
      }

      video {
        position: absolute;
        z-index: 1;
      }

      #play-btn {
        z-index: 2;
        font-size: 50px;
        color: #fff;
        transition: all 300ms ease-in-out;
        text-shadow: 0 0 15px rgba(0,0,0,.1);

        &:hover {
          font-size: 60px;
          color: lighten(#32d67f, 15%);
        }
      }
    }

    #youtubeWrapper {
      display: none;

      &.expanded {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -7px;
      }

      #videoplayer {
        transition: height 300ms ease;
      }
    }

    .row {
      flex-direction: column;
    }
  }

  &.stats {
    color: #fff;

    .value {
      position: relative;
      &:after {
        content: '';
        background-color: white;
        width:100%;
        height:1px;
        position: absolute;
        left: 0;
        bottom: -5px;
      }
    }
    span {
      font-size: 0.9rem;
      line-height: 0.8rem;
    }
  }

  &#slider {
    color: #fff;
    background-color: $gray;
    padding: 0;

    .carousel {

      .carousel-indicators {
        bottom:0;
        padding-bottom: 0;
        //padding-right: $visible-navbar-width-md-up;
      }

      .carousel-inner {
      }

      .carousel-item {
        height:400px;
        background-size: cover;

        .container {
          height:100%;

          .row {
            flex-direction: column;

            img.icon {
              height:120px;
            }
          }
        }
      }
    }
  }
}

section.wap {
  &:after {
    z-index:3;
  }

  .will-animate {
    position: relative;
    z-index: 1;
  }
}
section#wap-info {
  position: relative !important;
  z-index: 10 !important;

  > .container-fluid {

    > .row {

      > div {
        border-bottom: 5px solid $brand-blue;
      }
    }
  }
}

section.content-page {
  background: #fff;
}

section#contact {
  position: relative;

  .contact-side {
    background: #fff;
    border-radius: 8px;

  }

  .paper-plane {
    width:100px;

    @include media-breakpoint-up(lg) {
      width:200px;
    }
    position: absolute;
    right:40px;
    top:-50px;
  }
}

section.referencecases {

  .referencecase-item {
    transition: transform 300ms;

    &:hover {
      transform: scale(1.1,1.1);
    }
  }
}
