$komp_bg: $gray-lighter;

#kompetenser {
  padding: 1rem;
  width: 100%;
  background-color: $komp_bg;
  border:none;
  font-family: "Flama-Basic";
  font-size: 1.3rem;
  text-transform: capitalize;
  border-radius: 3px;
}

ul.ui-autocomplete {
  background-color: $komp_bg;
  font-family: "Flama-Basic";
  padding: 1rem;

  li {
    padding:.2rem;
  }

  .ui-menu-item-wrapper {
    padding:0;
  }

  .ui-autocomplete-category {
    text-transform: uppercase;
    background-color: lighten($gray-light,20%);
  }

  .ui-state-focus
  {
    color:White;
    background:#96B202;
    outline:none;
  }
}

.process {
  min-height: 200px;
  background-color: $dark-blue;
  color: #fff;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top:-55px;
  //  left:-20px;
  //  width:120%;
  //  height:120px;
  //  transform: rotate(3deg);
  //  background: $dark-blue;
  //}

  .timeline {
    @include media-breakpoint-up(sm) {
      flex-flow: initial;
    }
  }

  .round-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    &:after {
      content: 'Möte';
      position: absolute;
      margin-left: 100px;
      @include media-breakpoint-up(sm) {
        margin-left: 0px;
        margin-top: 56px;
      }
      @include media-breakpoint-up(md) {
        margin-top: 66px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 82px;
      }
    }

    &:nth-of-type(3):after {
      content: 'Krav';
    }
    &:nth-of-type(5):after {
      content: 'Annons';
    }
    &:nth-of-type(7):after {
      content: 'Sök';
    }

    .fa {
      font-size: 4rem;
      width: 130px;
      height: 130px;
      line-height: 110px;
      border: 6px solid white;
      border-radius: 50%;
      @include media-breakpoint-up(sm) {
        font-size: 2.3rem;
        width: 80px;
        height: 80px;
        line-height: 70px;
        border: 4px solid #fff;
      }
      @include media-breakpoint-up(md) {
        font-size: 3rem;
        width: 100px;
        height: 100px;
        line-height: 90px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 4.2rem;
        width: 130px;
        height: 130px;
        line-height: 110px;
        border: 7px solid #fff;
      }
    }
  }

  .line {
    height:60px;

    &:after {
      content: '';
      background-color: white;
      margin:0 auto;
      width:4px;
      height:100%;
      display: block;
    }

    @include media-breakpoint-up(sm) {
      height:4px;
      width:100%;
      background-color: white;
      margin-left: -15px;
      margin-right: -15px;
    }

  }
}

.kompetens-sakrade {
  background: url("../../dist/images/kompetens_bg.jpg") #fff;
  background-size: contain;
  background-repeat: no-repeat;

  .col-xs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 30%;
  }

  .fa-plus {
    font-size: 1rem;
    @include media-breakpoint-up(xs) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-up(sm) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }
}

