@font-face {
  font-family: 'Flama-Basic';
  font-style: normal;
  font-weight: normal;
  src: url('../../dist/fonts/Flama-Basic.woff') format('woff');
}
@font-face {
  font-family: 'Futura LT';
  src: url('../../dist/fonts/FuturaLT-Heavy.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT';
  src: url('../../dist/fonts/FuturaLT-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT';
  src: url('../../dist/fonts/FuturaLT.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT';
  src: url('../../dist/fonts/FuturaLT-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT Condensed';
  src: url('../../dist/fonts/FuturaLT-Condensed.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura LT Condensed';
  src: url('../../dist/fonts/FuturaLT-Condensed-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Flama-Basic";
  word-wrap: break-word;
}

// Type display classes
.display-1 {
  font-size: 2rem;
  @include media-breakpoint-up(sm) { font-size: 3rem; }
  @include media-breakpoint-up(md) { font-size: 4rem; }
  @include media-breakpoint-up(lg) { font-size: 5rem; }
  @include media-breakpoint-up(xl) { font-size: 6rem; }
}
.display-2 {
  font-size: $display2-size;
}
.display-3 {
  font-size: $display3-size;
}
.display-4 {
  font-size: $display4-size;
  @include media-breakpoint-down(sm) { font-size: 5.9vw; }
}

.lead {
  font-size: 1.1rem;
  line-height: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    line-height: 1.3rem;
  }
}


.text-orange {
  color: $brand-primary;
}

.text-white {
  color: #fff;
}

.container {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
}

.full-height {
  min-height: 100%;
}

.text-xs-center, .text-sm-center, .text-md-center, .text-lg-center {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-family: "Flama-Basic";
  font-size: 3.2rem;
  letter-spacing: -2px;
  line-height: 3rem;
  position: relative;
  padding-left: 50px;
  margin:3rem 0;
  &:before {
    content: "“";
    position: absolute;
    font-family: "Flama-Basic";
    top: -10px;
    left: -13px;
    font-size: 13rem;
    text-align: left;
    color: $brand-primary;
  }

  &.gray:after {
    color: $text-color;
  }
}

.animated {
  visibility: visible !important;
}

.will-animate {
  visibility: hidden;
}

.wrap {
  overflow-x: hidden;
  margin-bottom: 350px;
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(md) {
    padding-right: $visible-navbar-width-md-up;
  }
}

//Logoslider
#slideouter {
  position: relative;
  width: 100%;
  height: 40px;
  background: #eee;
  overflow: hidden;
}

#slideshow {
  position: absolute;
  overflow: hidden;
  padding: 0;
  transition: transform 0.35s ease-out;

  > img {
    position: relative;
    padding:0 1rem;
    display: block;
    float: left;
    width:150px;
  }
}

//Buttons
.btn {
  font-family: "Flama-Basic";
  font-size: .8rem;
  padding:1rem;
  width:100%;
  box-shadow: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 0px $brand-primary;
  transition: box-shadow 250ms ease-out;
  margin-bottom: 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
    padding:1.8rem;
  }

  &.btn-border {
    box-shadow: inset 0 0 0 5px $brand-primary;
    color: $brand-primary;
    //border:5px solid ;
    background: transparent;
  }
}

// Type
.fa {
  font-family: "FontAwesome";
}