//@import url('http://fonts.googleapis.com/css?family=Cabin');
//@import url('http://fonts.googleapis.com/css?family=Abel');
//@import url('http://fonts.googleapis.com/css?family=Open+Sans');
//@import url('http://fonts.googleapis.com/css?family=Coiny');

html, body {
  font-family: "proxima-nova", "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3;
}


h1, h2, h3, h4, h5, h6, p, span {
  a {
    color: #000;
    border-bottom: dashed 1px #000;

    &:hover {
      color: #000;
      text-decoration: none;
      border-bottom: solid 1px #000;
    }
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 500 !important;
  word-wrap: break-word;
  margin:1rem 0 .5rem;
  //text-shadow: rgba(0,0,0,0.2) 0 0 4px;
}

h1 {
   @include media-breakpoint-up(sm) { font-size: 2.15rem; }
   @include media-breakpoint-up(md) { font-size: 2.35rem; }
   @include media-breakpoint-up(lg) { font-size: 2.5rem; }
   @include media-breakpoint-up(xl) { font-size: 2.75rem; }
 }
h2 {
  @include media-breakpoint-up(sm) { font-size: 2.2rem; }
  @include media-breakpoint-up(md) { font-size: 2.35rem; }
  @include media-breakpoint-up(lg) { font-size: 2.5rem; }
  @include media-breakpoint-up(xl) { font-size: 2.5rem; }
}
h3 {
  @include media-breakpoint-up(sm) { font-size: 1.6rem; }
  @include media-breakpoint-up(md) { font-size: 1.85rem; }
  @include media-breakpoint-up(lg) { font-size: 2rem; }
  @include media-breakpoint-up(xl) { font-size: 2.25rem; }
}
h4 {
  @include media-breakpoint-up(sm) { font-size: 1.25rem; }
  @include media-breakpoint-up(md) { font-size: 1.5rem; }
  @include media-breakpoint-up(lg) { font-size: 1.75rem; }
  @include media-breakpoint-up(xl) { font-size: 2rem; }
}
// Type display classes
.display-1 {
  font-size: 2rem;
  font-weight: 700;
  @include media-breakpoint-up(sm) { font-size: 2.5rem; }
  @include media-breakpoint-up(md) { font-size: 3rem; }
  @include media-breakpoint-up(lg) { font-size: 4rem; }
  @include media-breakpoint-up(xl) { font-size: 5rem; }
}
.display-2 {
  font-size: $display2-size;
}
.display-3 {
  font-size: $display3-size;
}
.display-4 {
  font-size: $display4-size;
  @include media-breakpoint-down(sm) { font-size: 5.9vw; }
}

.lead {
  font-size: 1.1rem;
  line-height: 1rem;
  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
    line-height: 1.6rem;
  }
}

.ui-autocomplete {
  max-height: 50vh;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 50vh;
}


// COLORS
.text-orange, .fg-orange {
  color: $brand-secondary;
}

.text-white, .fg-white {
  color: #fff;
}

.text-blue, .fg-blue {
  color: $brand-blue;
}

.text-green, .fg-green {
   color: $brand-primary;
 }

.text-pink, .fg-pink {
  color: $brand-pink;
}
.bg-orange {
  background-color: $brand-secondary;
}

.bg-blue{
  background-color: $brand-blue;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: $brand-primary;
}

.bg-pink {
  background-color: $brand-pink;
}


.container {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
  @include media-breakpoint-up(md) {
    &.menu-padding {
      padding-right: $visible-navbar-width-md-up+15;
    }
  }
}

.row.column {
  flex-direction: column;
}

.full-height {
  min-height: 100%;
}

.text-xs-center, .text-sm-center, .text-md-center, .text-lg-center {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-family: $header-font;
  font-size: 3.2rem;
  letter-spacing: -2px;
  line-height: 3rem;
  position: relative;
  padding-left: 50px;
  margin:3rem 0;
  &:before {
    content: "“";
    position: absolute;
    font-family: $header-font;
    top: -10px;
    left: -13px;
    font-size: 13rem;
    text-align: left;
    color: $brand-primary;
  }

  &.gray:after {
    color: $text-color;
  }
}

.animated {
  visibility: visible !important;
}

.will-animate {
  visibility: hidden;
}

.spantext {
  display: inline-block;
}

.wrap {
  overflow-x: hidden;
  margin-bottom: 350px;
  position: relative;
  z-index: 2;
  min-height:100vh;
  @include media-breakpoint-up(md) {
    //padding-right: $visible-navbar-width-md-up;
  }
}

//Logoslider

.companies {
  background-color: white;
  padding:4rem 0;


  >.container-fluid {
    #slideouter {
      position: relative;
      width: 100%;
      height: 70px;
      //background: #eee;
      overflow: hidden;
    }

    #slideshow {
      position: absolute;
      width:110%;
      height:100%;
      overflow: hidden;
      padding: 0;
      transition: transform 0.35s ease-out;
      display: flex;
      flex-direction: row;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.0, 1.0);

      > img {
        position: relative;
        padding:0 1rem;
        display: block;
        float: left;
        width:auto;
        height:100%;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
      }
    }
  }
}


// Type
.fa {
  font-family: "FontAwesome";
}

@mixin gradient-x-four-colors($start-color: #00b3ee, $mid-color1: #7a43b6, $color-stop1: 25%, $mid-color2: #7a43b6, $color-stop2: 75%, $end-color: #c3325f) {
  background-image: linear-gradient(to right, $start-color, $mid-color1 $color-stop1, $mid-color2 $color-stop2, $end-color);
  background-repeat: no-repeat;
}

@mixin progress-bar($radius, $barwidth, $barColor, $overlayColor, $backColor) {
  .progress-radial {
    float: left;
    position: relative;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    background-color: $barColor; // default 100%
  }

  .p_overlay {
    position: absolute;
    width: $radius - $barwidth;
    height: $radius - $barwidth;
    background-color: $overlayColor;
    border-radius: 50%;
    margin-left: $barwidth / 2;
    margin-top: $barwidth / 2;
    text-align: center;
    line-height: $radius - $barwidth;
    font-size: 16px;
  }

  $step: 5; // step of % for created classes

  $loops: round(100 / $step);
  $increment: 360 / $loops;
  $half: round($loops / 2);
  @for $i from 0 through $loops {
    .progress-#{$i*$step}{
      @if $i < $half {
        $nextdeg: 90deg + ( $increment * $i );
        background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
      }
      @else {
        $nextdeg: -90deg + ( $increment * ( $i - $half ) );
        background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
      }
    }
  }
}

// Forms

form {
  .form-group {
    .input-group {
      .input-group-addon {
        width: 3rem;
        border-radius: 8px;
      }
      input {
        border-radius: 8px !important;
      }
    }
  }
}

// Cloud

.cloud {
  position: relative;

  &.cloud-l-b:after {
    background-image: url(../../dist/images/cloud_l_b.png);
    background-position: left bottom;
    left:0;
    bottom:0;
  }
  &.cloud-r-b:after {
    background-image: url(../../dist/images/cloud_r_b.png);
    background-position: right bottom;
    right:0;
    bottom:0;
  }
  &.cloud-l-t:before {
    background-image: url(../../dist/images/cloud_l_t.png);
    background-position: left top;
    left:0;
    top:0;
  }
  &.cloud-r-t:before {
    background-image: url(../../dist/images/cloud_r_t.png);
    background-position: right top;
    right:0;
    top:0;
  }

  &:after, &:before {
    content:'';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
  }

  &.cloud-large:after, &.cloud-large:before {
    height: 160px;
  }

}

// Wave

.waves {
  position: relative;


  &.waves-b {
    &:after {
      content: '';
      width: 100%;
      height: 11px;
      z-index: 1;
      position: absolute;
      bottom: -11px;
      left: 0;
      background-image: url("../../dist/images/wave_pink.png");
      background-repeat: repeat-x;
    }
  }

  &.waves-t {
    &:before {
      content: '';
      width: 100%;
      height: 20px;
      z-index: 1;
      position: absolute;
      top: -11px;
      left: 0;
      background-image: url(../../dist/images/wave_pink_up.png);
      background-repeat: repeat-x;
    }
  }
}

