// Grid settings
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #ff4100;
$brand-secondary: #13d6ab;
$gray-warm:             #4c3d3b;

// Navigation
$barwidth: 30px;
$navbar-width-lg:       60px;
